.drag-area{
  background-color: #e2ebef;
  outline: 2px dashed #ffffff;
  height: 250px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  outline: 2px solid #4878f2;
}
.drag-area .icon{
  font-size: 20px;
  color: #000;
}
.drag-area header{
  text-align: center;
  font-size: 11px;
  width: 200px;
  font-weight: 500;
  color: #000;
}
.drag-area span{
  font-size: 22px;
  font-weight: 800;
  color: #000;
}
.drag-area div{
  padding: 10px;
  font-size: 16px;
  width: 50%;
  font-weight: 500;
  text-align: center;
  background: #363643;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.drag-area div:hover {
  background-color: #4878f2;
  color: #FFF;
}
.drag-area video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
  margin-top: -6px;
}
